body {
  color: #333;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  max-height: 1000px;

}

.inner {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
}

.img {
  display: block;
}

.img__140 {
  max-width: 140px;
  max-height: 140px;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

header {
  border-bottom: 1px solid #808080;
  margin: 0 0 50px 0;

}

header .container {
  background-color: #808080;
}

header .container .inner {
  height: 80px;
}


header .container .nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;

}

header .container .logo_container {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 80px;

}

header .container .logo {
  width: 80px;
  height: auto;

}

header .container .major_name {
  display: flex;
  position: absolute;
  left: 100px;
  top: 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 80px;
  justify-items: center;
  align-items: center;
}

header .container .major_name span {}

header .container .nav_bar {
  height: inherit;
}

header .container .nav_bar .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .nav_bar .menu ul li {
  list-style: none;
  box-sizing: border-box;
  margin: 0 10px;
}

header .container .nav_bar .menu ul li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .container .nav_bar .menu ul li:first-child::before {
  content: "";
  display: none;
}

header .container .nav_bar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px 10px 15px;
  margin-left: 20px;
  display: block;
  box-sizing: border-box;
  transform: scale(1.0);
  transition: .3s;
}

header .container .nav_bar ul li a:hover {

  color: aqua;

  transform: scale(1.3);
}

header .container .easy_guide {
  position: absolute;
  right: 100px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  height: 80px;

}

header .container .easy_guide a {
  color: #fff;
  transform: scale(1.0);
  transition: .3s;

}

header .container .easy_guide a:hover {
  color: aqua;
  transform: scale(1.3);
}

header .container .easy_guide .easy_guide__contents {
  position: absolute;
  top: 50px;
  z-index: 9;
  background-color: #212529;
  border-radius: 5%;
}

header .container .easy_guide .easy_guide__contents li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  transition: .3s;

}

header .container .easy_guide .easy_guide__contents li a {
  margin: 0 5px 0;
  padding: 5px;
  display: block;
  font-size: 14px;
  transform: scale(1.1);

}

header .container .easy_guide .easy_guide__contents {
  display: none;
}

header .container .easy_guide:hover .easy_guide__contents {
  display: block;
}



.qrcode {
  min-height: calc(100vh - 100px);
  margin: auto;
}

.qrcode .container {}

.qrcode .container .inner {
  text-align: center;
}

.qrcode .container .inner span {
  padding: 30px;
  font-weight: 700;
  color: #333;

}

.qrcode .container .inner .intro_container {
  box-sizing: content-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.qrcode .container .inner .dvwa,
.qrcode .container .inner .xvwa,
.qrcode .container .inner .bwapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px 0px;
  margin-bottom: 20px;
  transition: .2s;
}

.qrcode .container .inner .dvwa img,
.qrcode .container .inner .xvwa img,
.qrcode .container .inner .bwapp img {
  border: 2px solid #333;
  
}

.qrcode .container .inner .dvwa:hover,
.qrcode .container .inner .xvwa:hover,
.qrcode .container .inner .bwapp:hover{

  transform: scale(1.2);
}

footer {
  border-top: 1px solid #eef1f3;
  background-color: #f7f9fa;
  min-height: 50px;
}

footer .container {
}

footer .container .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 100px;
  flex-direction: column;
}
footer .container .inner span{
  font-size: 13px;
}